.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.marker{
  height:20px;
  width:15px;
}
.org-home-cont{
  background-image: linear-gradient(to bottom, #00409f, #0068c0, #008fd6, #00b4e3, #12d8eb);
}