
html,body{

		overflow-x: hidden;
		overflow-y: initial;
		height: 100vh;
}

body{
	margin:  0 auto !important;
	background-image: linear-gradient(to bottom, #00409f, #0068c0, #008fd6, #00b4e3, #12d8eb);

	
}
