

@media only screen and (min-width: 501px){
.nav-desktop {
 display:flex;
 width:55%;
 max-width:300px;
justify-content: space-between;

}
.nav-desktop >a {
 font-size:1.2rem;
 color:white;
 text-decoration: none;
 border:none;

}
.nav-desktop-login >a {
  font-size:1.2rem;
  color:white;
  text-decoration: none;
  border:none;
 
 }
.nav-desktop-login{
  width:100px;
}
.nav-desktop > a :hover{
 
  color:black;
  text-decoration:none;
  
 
}

.nav-mobile{
display:none;
} }

@media only screen and (max-width: 500px){
.nav-mobile  {
 display:block;   
 }
 .nav-desktop{
  display:none;
 }
 .nav-desktop-login{
   display:none;
 }
}